<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<style>
    h6{
    color:red;
    text-indent: 10px;
    }
  </style>
</head>
<body>
<!--   set action field with the name given credentials--urls--path('register',...)-->

<section class="vh-150" style="background-color: #eee;">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-12 col-xl-11">
<!--        <div class="card text-black" style="border-radius: 25px;">-->
<!--          <div class="card-body p-md-5">-->
         <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-2 mx-1 mx-md-4 mt-1">Sign up</p>

                 <form action="" method="post" class="mx-1 mx-md-4">
                    {%csrf_token %}
                     {% if error %}
                     <div class="alert alert-danger" role="alert">
                         <h6 style="color:red">{{error}}</h6>
                     </div>
                     {% endif %}
                  <div class="d-flex flex-row align-items-center mb-1">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">

                      <div><label class="form-label" for="form3Example1c1">Enter your username</label></div>
                      <div><input type="text" name="username" class="form-control" value="{{values.username}}"/></div>
                    </div>
                  </div>

                     <div class="d-flex flex-row align-items-center mb-1">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">

                      <label class="form-label" for="form3Example1c2">Enter your first name</label>
                        <input type="text" name="firstname" class="form-control" value="{{values.firstname}}" />
                    </div>
                  </div>

                     <div class="d-flex flex-row align-items-center mb-1">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">

                      <label class="form-label" for="form3Example1c3">Enter your last name:</label>
                         <input type="text" name="lastname" class="form-control" value="{{values.lastname}}" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-1">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">

                      <label class="form-label" for="form3Example3c">Enter Your Email</label>
                        <input type="email" name="email" class="form-control" value="{{values.email}}" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-1">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">

                      <label class="form-label" for="form3Example4c">Password</label>
                        <input type="password" name="password" class="form-control" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-1">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">

                      <label class="form-label" for="form3Example4cd">Repeat your password</label>
                       <input type="password" name="password1" class="form-control" />
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-1">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-left mx-4 mb-0 mb-lg-4">
                    <input type="submit" value="Register" class="btn btn-primary btn-lg">
                {% for i in context %}
                 <h6>   {{i.messages}}</h6>
                 {% endfor %}
                  </div>

                </form>

              </div>

              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
